@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background: #FAFAFA;
}
/*HEADER*/
header {
    position: absolute;
    background: white !important;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;

}
header .menu {
    width: 50%;
    padding-right: 100px;
}
.burger_menu {
    display: none;
}
header .menu ul{
    justify-content: space-between;
    display: flex;
    list-style: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 30px;
    text-align: center;
    color: #00AADE !important;
}
header .menu ul li {
    cursor: pointer;
    padding-left: 0.5rem;
}


/*MAIN*/
.main {
    width: 100vw;
    display: flex;
    height: calc(100vh - 70px);
    justify-content: center;
    align-items: center;

}
.main_container {
    width: 31%;
    margin-top: 70px;

    height: 70%;
    display: flex;
    flex-direction: column;
}
select {
    color: gray !important;
    outline: none;
}
option[value=""][disabled] {
    color: #7C7C7C !important;
}
option {
    color: black !important;
}
.inputs {
    outline-color: #00AADE;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 28px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;

    margin-bottom: 33px;
}

.inputs::placeholder {
    color: #C2C2C2;
}
.buttons {
    display: flex;
}
.buttons button {
    width: 50%;
    outline: none;
    cursor: pointer;
    border: none;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    background: #fff;
}
.buttons .left {
    border-radius: 12px 0px 0px 12px;
}
.buttons button.checked {
    background: #00AADE;
    color: #fff;
}
.buttons .right {
    border-radius: 0px 12px 12px 0px;
    color: #00AADE;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.list_item label {
    display: flex;
    align-items: center;

}
.list_item label span {
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 149.7%;
    letter-spacing: 0.025em;
    text-transform: capitalize;
    color: #000000;
}
.list_item label input {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    width: 22px;
    border-radius: 0 !important;
    height: 22px;
}
input[type="checkbox"] {
    border-radius: 50px !important;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.custom-file-upload img {
    width: 22px;
    height: 22px;
    transform: rotate(-5deg);
    margin-left: 10%;
}

.send_btn {
    background: #C4C4C4;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px 63px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 149.7%;
    /* or 36px */

    letter-spacing: 0.025em;
    text-transform: capitalize;

    color: #FAFAFA;
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
    }
    header .menu {
        width: auto;
        padding-right: 40px;
    }
    header .logo {
        padding-left: 40px;
    }
    header .menu ul {
        display: none;
    }
    header .menu .burger_menu {
        display: block;
    }
    .burger_menu img {
        filter: invert(61%) sepia(57%) saturate(6082%) hue-rotate(163deg) brightness(100%) contrast(101%);
    }


    .main_container {
        width: 90%;
    }
}